data/Originales/COVID19MEXICO20.csv
data/Originales/COVID19MEXICO21.csv
data/Originales/COVID19MEXICO22.csv
data/Originales/COVID19MEXICO23.csv
data/Nuevos/COVID19MEXICO20_23.csv
data/Nuevos/COVID19MEXICO24_25.csv
data/Originales/COVID19MEXICO24-25.csv
data/Nuevos/COVID19MEXICO20_25.csv
CargarDatos.ipynb
data/Nuevos/COVID19MEXICODB
